<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Add New Book</h1>
    <form th:action="@{/books/add}" th:object="${book}" method="post">
        <div class="form-group">
            <label>Title</label>
            <input th:field="*{title}" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Author</label>
            <input th:field="*{author}" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input th:field="*{price}" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Add Book</button>
    </form>
    <br>
    <a href="/books" class="btn btn-secondary">Back to Book List</a>
</div>
</body>
</html>
